

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron h1 {
    color: rgba(200, 50, 255, 1);
}

#logo{
	height: 80px;
}

.navbar-form{
	margin-right: 50px;
}
.central-content{
}

.pag-content{
	margin-top: 100px;
	padding-bottom: 300px;
	height: 250px;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.element p {
  @include vertical-align();
}

footer{
	background-color: blue;
	width: 100%;
}






