/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 12, ../sass/screen.scss */
.navbar {
  height: 100px;
}

/* line 16, ../sass/screen.scss */
.jumbotron h1 {
  color: #c832ff;
}

/* line 20, ../sass/screen.scss */
#logo {
  height: 80px;
}

/* line 24, ../sass/screen.scss */
.navbar-form {
  margin-right: 50px;
}

/* line 30, ../sass/screen.scss */
.pag-content {
  font-family: Ubuntu,sans-serif;
  margin-top: 100px;
  padding-bottom: 50px;
  font-weight: unset;
  height: 300px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 39, ../sass/screen.scss */
.pag-content .pag-title {
  text-align: center;
}
/* line 43, ../sass/screen.scss */
.pag-content .pag-img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* line 47, ../sass/screen.scss */
.pag-content .pag-img img {
  max-height: 200px;
  width: auto;
  float: right;
}
/* line 54, ../sass/screen.scss */
.pag-content .pag-text {
  font-family: serif;
  padding: 0px;
  border: 0px none;
  font-style: normal;
  line-height: normal;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 66, ../sass/screen.scss */
footer {
  font-family: Ubuntu,sans-serif;
  background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%);
  background-repeat: repeat-x;
  width: 100%;
  height: 140px;
  font-weight: bold;
}
/* line 74, ../sass/screen.scss */
footer #footer-empresa {
  padding-top: 2%;
  color: white;
}
/* line 77, ../sass/screen.scss */
footer #email-empresa {
  white-space: nowrap;
  overflow: hidden;
  padding-top: 2%;
  color: white;
}
/* line 83, ../sass/screen.scss */
footer #email-empresa a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}
/* line 89, ../sass/screen.scss */
footer #trabajar-empresa {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 2%;
  color: white;
}
/* line 96, ../sass/screen.scss */
footer #trabajar-empresa a {
  color: white;
  text-decoration: none;
}
/* line 101, ../sass/screen.scss */
footer #telefonos-empresa {
  padding-top: 2%;
  color: white;
}
/* line 104, ../sass/screen.scss */
footer #telefonos-empresa .phone-der {
  margin-left: 20px;
}

/* line 113, ../sass/screen.scss */
.menu-principal-container {
  /* Change the link color to #111 (black) on hover */
}
/* line 115, ../sass/screen.scss */
.menu-principal-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
/* line 123, ../sass/screen.scss */
.menu-principal-container li {
  float: left;
}
/* line 127, ../sass/screen.scss */
.menu-principal-container li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* line 136, ../sass/screen.scss */
.menu-principal-container li a:hover {
  background-color: #111;
}

/* line 141, ../sass/screen.scss */
.central-content {
  position: relative;
  margin-top: 80px;
}

/* line 147, ../sass/screen.scss */
.list-tipos {
  margin: 0 auto;
}
/* line 149, ../sass/screen.scss */
.list-tipos ul {
  list-style-type: none;
}
/* line 151, ../sass/screen.scss */
.list-tipos ul .item-tipos {
  font-family: Ubuntu,sans-serif;
  float: left;
  height: auto;
  overflow: hidden;
  text-align: center;
  width: 20%;
}
/* line 158, ../sass/screen.scss */
.list-tipos ul .item-tipos h4 {
  padding: 5px;
  margin: 2px;
}
/* line 162, ../sass/screen.scss */
.list-tipos ul .item-tipos img {
  margin: 10px;
  width: 80%;
  height: auto;
}
/* line 168, ../sass/screen.scss */
.list-tipos ul .item-tipos:hover {
  background-color: #eee9e9;
  -webkit-box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.9);
}

/* line 176, ../sass/screen.scss */
.footer-icon {
  float: left;
  background-color: gray;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-right: 10px;
}
/* line 183, ../sass/screen.scss */
.footer-icon img {
  margin: 10px;
}
/* line 186, ../sass/screen.scss */
.footer-icon:hover {
  border-radius: 30px;
  transition: background-color 0.5s ease;
  background-color: white;
}

/* line 193, ../sass/screen.scss */
.navbar-form {
  position: relative;
  top: 10px;
}
