{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block head_title %}San José Home Care |  Postulación Laboral {% endblock %}
{% load bootstrap %}

{% block content%}
<div class="container">
<div class="col-sm-3"></div>
<div class="col-sm-6">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2>Trabajar con San José Home Care</h2>
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        {{ form|bootstrap}}
        <button type="submit" class="save btn btn-default">Enviar</button>
    </form>
</div>
<div class="col-sm-3"></div>
</div>

{% endblock %}