{% load staticfiles %}
{% load static %}
{% load static from staticfiles %}
{% load menu %}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->


    <head>
         <link rel="alternate" href="http://www.sanjosehomecare.cl/" hreflang="es" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block head_title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link href='https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic,300italic,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/sjhc/stylesheets/screen.css' %}">
        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script> 

        {% block head_css %}{% endblock %}
        {% block head_javascript %}{% endblock %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


{% block navbar %}
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">


    <div class="logo-container col-sm-3"> 
          <a class="navbar-brand" href="/">
{% block logo_header %}
<img id="logo" src={%static 'media/imagenes/logo.svg' %}>
{% endblock %}
          </a>
    </div>

     <div id="navbar"  class="navbar-menu menu-principal-container col-sm-5"> 
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/pagina/mision">Misión</a></li>
          <li><a href="/pagina/quienes-somos">Nosotros</a></li>
          <li><a href="/clasificacion/servicios">Servicios</a></li>
          <li><a href="/contacto">Contacto</a></li>          
        </ul>
      </div>

  <form class="navbar-form navbar-right  col-sm-4" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Buscar">
    </div>
    <button type="submit" class="btn btn-default">Buscar</button>
  </form>


    </nav>
</div>
{% endblock %}

<div class="central-content">
{% block content %}

{% endblock %}
</div>
      <hr>

    </div> <!-- /container -->  

      <footer class="col-sm-12">

        <div id="footer-empresa" class="col-sm-3">
        San José Home Care 
        <p>Cuidados Integrales de Enfermería
        </div>

        <div id="email-empresa" class="col-sm-3">      
        
        <a href="/contacto"> 
        <div class="footer-icon">
        <img src="{%static 'icons/email.svg' %}" width="60px" height="60px" /> 
        </div>
         Contacto</a>

         </div>

        <div id="trabajar-empresa" class="col-sm-3">      
        <a href="/trabajo"> 
          <div class="footer-icon">
          <img src="{%static 'icons/work.svg' %}" width="60px" height="60px" />
          </div>  Trabaja con Nosotros</a>
        </div>

        <div  id="telefonos-empresa" class="col-sm-3">
          <div id="phone-izq" class="footer-icon">
            <img src="{%static 'icons/phone.svg' %}" width="60px" height="60px" /></div>
          <div class="phone-der">Teléfonos:  <p>+56 9 79090383</p>  <p>+56 9 87904248</p>
          </div>
        </div>

      </footer>
{% block footer_javascript %}

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
{% endblock %}
    </body>
</html>
