/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//#@import "compass/reset";

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar{
	height: 100px;

}
.jumbotron h1 {
    color: rgba(200, 50, 255, 1);
}

#logo{
	height: 80px;
}

.navbar-form{
	margin-right: 50px;
}
.central-content{
}

.pag-content{
	font-family: Ubuntu,sans-serif;
	margin-top: 100px;
	padding-bottom: 50px;
	font-weight: unset;
	height: 300px;
	  -webkit-transform-style: preserve-3d;
	  -moz-transform-style: preserve-3d;
	  transform-style: preserve-3d;
.pag-title{
	text-align: center; 
} 

.pag-img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  img{
  	max-height: 200px;
  	width: auto;
  	float: right;
  }

}
.pag-text{
	font-family: serif;
	padding: 0px;
	border: 0px none;
	font-style: normal;

	line-height: normal;	
	position: relative;
	top: 50%;
	transform: translateY(-50%);	
}
}
footer{
font-family:Ubuntu,sans-serif;
background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%);
background-repeat: repeat-x;
	width: 100%;
height: 140px;
font-weight: bold;

	#footer-empresa{
		padding-top: 2%;
		color:white;}
	#email-empresa{
  white-space: nowrap;
  overflow: hidden;
		padding-top: 2%;
		color:white; 

		a{  
		margin-left: 20px;
		  color:white; 
		  text-decoration: none;
		}
	}
	#trabajar-empresa{
		text-align: center;
  white-space: nowrap;
  overflow: hidden;
		padding-top: 2%;
		color:white; 

		a{  
		  color:white; 
		  text-decoration: none;
		}
	}	
	#telefonos-empresa{
		padding-top: 2%;
		color:white;
		.phone-der{
			margin-left: 20px;
		}
	}

}



.menu-principal-container{

	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
}

.central-content{
	position: relative;
	margin-top: 80px;

}

.list-tipos{
	margin: 0 auto;
	ul {
	  list-style-type: none;
		.item-tipos {
			font-family: Ubuntu,sans-serif;
			float: left;
		   height:auto;
		   overflow:hidden; 
			text-align: center;
			width: 20%;
			h4{
				padding: 5px;
				margin: 2px;
			}
			img {
			  margin: 10px; 
			  width: 80%;
			  height: auto;	
			}
		}
		.item-tipos:hover {
   		 background-color: #eee9e9;			
		-webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
		box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
		}
	}
}

.footer-icon {
    float: left;
    background-color: gray;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-right: 10px;
    img{
    	margin: 10px;
    }
    &:hover{
    	border-radius: 30px;
    	transition: background-color 0.5s ease;
    	background-color: white;
    }
}

.navbar-form{
	position: relative;
	top:10px;
}